.contents-container {
  height: 150vh;
  background-color: $light-gray;
  .wrapper {
    .articles {
      padding: 40px 0px 40px 80px;
      width: 730px;
      float: left;
      .article {
        width: 320px;
        display: inline-block;
        margin: 0px 40px 40px 0px;
        background-color: $white;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
        &__image {
          line-height: 180px;
        }
        &__texts {
          height: 120px;
          padding: 10px;
          &__title {
            margin-bottom: 5px;
            font-size: 1.1rem;
            color: $black;
          }
          &__text {
            font-size: 0.95rem;
            color: $gray;
          }
          &__more {
            text-align: right;
            font-size: 0.8rem;
            a {color: $blue;}
            a {text-decoration: none;}
          }
          &__info {
            padding-top: 5px;
            color: $gray;
            font-size: 0.8rem;
            border-top: solid $light-gray 1px;
            display: flex;
            justify-content: space-between;
            &__user {
              a {color: $gray;}
              a {text-decoration: none;}
            }
            &__counts {
              display: flex;
              justify-content: flex-end;
              &__favs {
                text-align: right;
                margin-right: 5px;
              }
              &__comments {
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}